:root {
    --color-primary: #3679E0;
    --color-primary-light: #3679E026;
    --color-secondary: #6B45BB;
    --color-secondary-light: #7D42B833;
    --color-yellow: #EEB902;
    --color-red:#D75053;
    --color-red-light:#d4040433;
    --color-green:#72D18D;
    --color-gray-dark: #07172F;
    --color-gray-dark-minus-05: #323943;
    --color-gray: #8C99AC;
    --color-gray-light: #f4f7fb;
    --color-gray-light-plus-01: #FBFBFD;

    --color-body-background: var(--color-gray-light);

    /* theme */
    --color-input-text: var(--color-gray-dark);
    --color-input-label: var(--color-gray);
    --color-input-label-focused: var(--color-gray);
    --color-input-background: var(--color-gray-light);
    --color-input-background-focused: var(--color-primary-light);
    --color-select-icon: var(--color-gray);
    --color-select-highlight: var(--color-primary-light);
    --color-select-multi-item-color: #fff;
    --color-select-multi-item-background: #9FB0C5;
    --color-select-multi-delete-icon: #fff;

    --color-popover-text: var(--color-dark-gray);
    --color-popover-border: var(--color-dark-gray);
    --color-popover-background: var(--color-gray-light);

    --color-tooltip-text: var(--color-dark-gray);
    --color-tooltip-border: var(--color-dark-gray);
    --color-tooltip-background: #fff;

    --color-checkbox-fill: #fff;
    --color-checkbox-background: #262b31;
    --color-checkbox-border: #262b31;
    --color-checkbox-border-active: #262b31;

    --color-datepicker-foreground: var(--color-dark-gray);
    --color-datepicker-background: #fff;
    --color-datepicker-content-background: #9FB0C5;
    --color-datepicker-selected: var(--color-primary);

    --color-popup-background: var(--color-gray-light);
    /* theme */
    
    --mobile-spacing: 24px;
    --desktop-spacing: 42px;
    --desktop-spacing-small: 20px;
    --transition-duration: 0.45s;
    --default-height: 45px;
}

html {
	color:var(--color-gray-dark);
    font-family:Poppins, sans-serif; font-weight:400; font-size:16px;
    scroll-behavior: smooth;
    background:var(--color-body-background);
}

body {
    min-width:calc(1200px + 48px);
}

/* SVG */
.SVG {
    display:inline-flex;
    align-items:center; justify-content:center;
}

.SVG.Size > svg {
    width:100%; height:100%;
}

.ImgCoverNode {
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.ImgContainNode {
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}

img.CoverNode {
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

/* Site */
.SiteContent {
    width:100%; min-width:calc(1440px + 2 * var(--desktop-spacing)); max-width:calc(1600px + 2 *  var(--desktop-spacing));
    box-sizing:border-box;
    padding-left:var(--desktop-spacing); padding-right:var(--desktop-spacing);
    margin-left:auto; margin-right:auto;
}

.SiteContent.SmallContent {
    width:370px; min-width:auto;
}

html.OverflowHidden {
    overflow:hidden;
}

.Heading1 {
    font-size: 54px; font-weight: 700;
}

.Heading2 {
    font-size: 42px; font-weight: 700;
}

.Heading3 {
    font-size: 32px;
}

.Heading4 {
    text-transform: uppercase;
    font-size: 24px; font-weight: 700;
}

.Heading5 {
    font-size: 22px;
}

.Heading6 {
    font-size: 14px;
}

@media (max-width: 749px) {

    .Heading1 {
        font-size: 30px;
    }
    
    .Heading2 {
        font-size: 24px;
    }
    
    .Heading3 {
        font-size: 18px;
    }
    
    .Heading4 {
        font-size: 14px;
    }
    
    .Heading5 {
        font-size: 12px;
    }
    
    .Heading6 {
        font-size: 5px;
    }

}

.LabelInfo {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px; font-weight: 700;
    opacity: 0.6;
}

.P {
    /* font-family:'IBMPlexSans'; */
}

.PSmall {
    font-family:'IBMPlexSans';
    font-size: 14px;
}

/* PageContent */
.PageMarginTop {
    margin-top:98px;
}

.PageMarginBottom {
    margin-top:112px;
}

.PageContent {
    display: flex;
    flex: 1 1 auto;
}

.WhiteBox {
    padding: 20px;
    background: #fff;
    border-radius: 15px;
}

/* .Page {
    transition-property:filter;
} */

/* .Page.BlurPopup, .Page.BlurAlert {
    filter:blur(8px);
} */

/* Scrolls */
.Scrolls {
    scrollbar-color:#3679E019 transparent;
    scrollbar-width:thin;
}

.Scrolls::-webkit-scrollbar {
    width:6px; height:6px;
}

.Scrolls::-webkit-scrollbar-track {
    background:none;
}
 
.Scrolls::-webkit-scrollbar-thumb {
    border-radius:3px;
    background:#3679E019;
}

/* Mui font fix */
*[class*="-root"], *[class^="Mui"] {
    font-family: inherit !important;
}