/* popup global */
.ShipmentPopup hr {
    height: 1px;
    border: 0;
    margin: var(--desktop-spacing-small) 0;
    background: var(--color-gray-light-plus-01);
}

.ShipmentPopup hr.MarginBottomOnly {
    margin-top: 0;
}

/* header */
.ShipmentPopup .PopupHeader .PopupTitle {
    flex: 0 0 auto;
    font-size: 20px; font-weight: 700;
    margin-right: 25px;
}

.ShipmentPopup .PopupHeader .Input, .ShipmentPopup .PopupHeader .Select {
    width: 160px;
    flex: 0 0 auto;
}

.ShipmentPopup .PopupHeader .Select .MuiInputBase-root {
    height: 25px;
    padding: 0;
    background: transparent;
}

.ShipmentPopup .PopupHeader .Select .MuiInputBase-root .MuiSelect-root {
    font-size: 14px; font-weight: 700;
}

/* tabs header */
.ShipmentPopup .TabsHeader {
    border-bottom: 1px solid var(--color-gray-light-plus-01);
}

.ShipmentPopup .TabsHeader .Tab {
    color: var(--color-gray);
    font-size: 14px; font-weight: 700;
    padding: 0 var(--desktop-spacing-small);
    border-bottom: 2px solid transparent;
    cursor: pointer;

    transition-property: color, border-color;
}

.ShipmentPopup .TabsHeader .Tab.Active {
    color: var(--color-gray-dark);
    border-bottom: 2px solid var(--color-gray-dark);
}

/* tab products */
.ShipmentPopup .TabProducts .BlockLabel {
    font-weight: 700;
    margin: var(--desktop-spacing-small) 0;
}

.ShipmentPopup .TabProducts .ProductManufactureQuestion {
    color: var(--color-gray);
    font-size: 12px; font-weight: 500;
    margin-bottom: 14px;
}

.ShipmentPopup .TabProducts .Radio {
    position: relative;
    color: var(--color-gray-dark);
    font-size: 12px; font-weight: 600;
    cursor: pointer;
}

.ShipmentPopup .TabProducts .Radio:not(:first-child) {
    margin-left: 14px;
}

.ShipmentPopup .TabProducts .Radio:before {
    content: '';
    width: 14px; height: 14px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid var(--color-gray-light-minus-05);
    margin-right: 5px;
}

.ShipmentPopup .TabProducts .Radio:after {
    content: '';
    width: 6px; height: 6px;
    position: absolute;
    left: 4px; top: 0; bottom: 0;
    border-radius: 50%;
    margin: auto;
    background: var(--color-primary);

    transition-property: opacity;
    transition-duration: var(--transition-duration);
}

.ShipmentPopup .TabProducts .Radio:not(.Active):after {
    opacity: 0;
}

.ShipmentPopup .AddProductCnt {
    margin: var(--desktop-spacing-small) 0;
    align-items: flex-end;
}

.ShipmentPopup .AddProductCnt .SelectProduct, .ShipmentPopup .AddProductCnt .SelectFromShipment { 
    width: 260px;
    flex: 0 0 auto;
}

.ShipmentPopup .AddProductCnt .InputSku {
    width: 128px;
    flex: 0 0 auto;
}

.ShipmentPopup .AddProductCnt .InputSku .StartAdornment {
    font-size: 12px;
    margin-right: 5px;
}

.ShipmentPopup .AddProductCnt .InputQuantity {
    width: 128px;
    flex: 0 0 auto;
}

.ShipmentPopup .AddProductCnt .InputQuantity .EndAdornment {
    color: var(--color-gray);
    text-transform: uppercase;
    font-size: 12px;
}

.ShipmentPopup .IconDelete {
    fill: #CAD0DB;
}

/* footer */
.ShipmentPopup .PopupFooter .FooterLeft {
    color: var(--color-gray);
    font-size: 12px; font-weight: 600;
    border-radius: 5px;
    padding: 0 var(--desktop-spacing-small);
    background: var(--color-gray-light-plus-01);
}

.ShipmentPopup .PopupFooter .FooterLeft .ItemCnt:not(:first-child) {
    margin-left: var(--desktop-spacing-small);
}

.ShipmentPopup .PopupFooter .FooterLeft .ItemCnt span {
    color: var(--color-gray-dark);
}