/* popup global */
.ShipmentPopup hr {
    height: 1px;
    border: 0;
    margin: var(--desktop-spacing-small) 0;
    background: var(--color-gray-light-plus-01);
}

.ShipmentPopup hr.MarginBottomOnly {
    margin-top: 0;
}

/* header */
.ShipmentPopup .PopupHeader {
    display: flex;
}

.ShipmentPopup .PopupHeader .PopupTitleCnt {
    flex: 0 0 auto;
    margin-right: 25px;
}

.ShipmentPopup .PopupHeader .PopupTitleCnt .PopupTitle {
    font-size: 20px;
    font-weight: 700;
}

.ShipmentPopup .PopupHeader .SubData {
    color: var(--color-primary);
    font-size: 9px;
}

.ShipmentPopup .PopupHeader .Status {
    font-style: italic;
}

.ShipmentPopup .PopupHeader .TimeStamp {
    color: var(--color-gray);
}

.ShipmentPopup .PopupHeader .WidthLimiter {
    width: 160px;
    flex: 0 0 auto;
}

.ShipmentPopup .PopupHeader .Select .MuiInputBase-root {
    height: 25px;
    padding: 0;
    background: transparent;
}

.ShipmentPopup .PopupHeader .Select .MuiInputBase-root .MuiSelect-root {
    font-size: 14px;
    font-weight: 700;
}

.ShipmentPopup .PopupHeader .ActionsTransaction {
    flex: 0 0 auto;
    margin-right: 48px;
}

/* tabs header */
.ShipmentPopup .TabsHeader {
    border-bottom: 1px solid var(--color-gray-light-plus-01);
}

.ShipmentPopup .TabsHeader .Tab {
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 700;
    padding: 0 var(--desktop-spacing-small);
    border-bottom: 2px solid transparent;
    cursor: pointer;

    transition-property: color, border-color;
}

.ShipmentPopup .TabsHeader .Tab.Active {
    color: var(--color-gray-dark);
    border-bottom: 2px solid var(--color-gray-dark);
}

/* tab products */
.ShipmentPopup .TabProducts .BlockLabel {
    font-weight: 700;
    margin: var(--desktop-spacing-small) 0;
}

.ShipmentPopup .TabProducts .ProductManufactureQuestion {
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 14px;
}

.ShipmentPopup .TabProducts .Radio {
    position: relative;
    color: var(--color-gray-dark);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.ShipmentPopup .TabProducts .Radio:not(:first-child) {
    margin-left: 14px;
}

.ShipmentPopup .TabProducts .Radio:before {
    content: '';
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid var(--color-gray-light-minus-05);
    margin-right: 5px;
}

.ShipmentPopup .TabProducts .Radio:after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
    background: var(--color-primary);

    transition-property: opacity;
    transition-duration: var(--transition-duration);
}

.ShipmentPopup .TabProducts .Radio:not(.Active):after {
    opacity: 0;
}

.ShipmentPopup .TabProducts .AddProductCnt {
    margin: var(--desktop-spacing-small) 0;
    align-items: flex-end;
}

.ShipmentPopup .TabProducts .AddProductCnt .SelectProduct,
.ShipmentPopup .AddProductCnt .SelectFromShipment {
    width: 260px;
    flex: 0 0 auto;
}

.ShipmentPopup .TabProducts .AddProductCnt .InputSku {
    width: 128px;
    flex: 0 0 auto;
}

.ShipmentPopup .TabProducts .AddProductCnt .InputSku .StartAdornment {
    font-size: 12px;
    margin-right: 5px;
}

.ShipmentPopup .TabProducts .AddProductCnt .InputQuantity {
    width: 128px;
    flex: 0 0 auto;
}

.ShipmentPopup .TabProducts .AddProductCnt .InputQuantity .EndAdornment {
    color: var(--color-gray);
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

.ShipmentPopup .TabProducts .IconDelete {
    fill: var(--color-gray-light-minus-05);
}

/* documents - credit */
.ShipmentPopup .TabDocuments .UploadCnt {
    width: 50%;
    min-height: 160px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 24px;
    border: 2px dashed var(--color-primary);
    border-radius: 20px;
    margin: var(--desktop-spacing-small) auto;
}

.ShipmentPopup .TabDocuments .UploadCnt.Active {
    background: yellow;
}

.ShipmentPopup .TabDocuments .UploadCnt .UploadTitle {
    color: var(--color-gray-dark);
    font-weight: 500;
    margin-bottom: 10px;
}

.ShipmentPopup .TabDocuments .UploadCnt .UploadTitle .IconAttachment {
    fill: var(--color-primary);
    margin-right: 10px;
}

.ShipmentPopup .TabDocuments .UploadCnt .UploadTitle span {
    color: var(--color-primary);
}

.ShipmentPopup .TabDocuments .UploadCnt .UploadDesc {
    color: var(--color-gray);
    font-weight: 500;
    font-size: 12px;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt {
    margin: var(--desktop-spacing-small) 114px;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .UploadedDocument:not(:first-child) {
    margin-top: 8px;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .UploadedDocumentType {
    width: 220px;
    margin-right: 32px;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .IconUploadedDocument {
    margin-right: 16px;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .UploadedDocumentName {
    color: var(--color-gray-dark);
    font-weight: 600;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .UploadedDocumentSize {
    color: var(--color-gray);
    font-size: 12px;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .UploadDocumentProgressCnt {
    width: 100px;
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 500;
    margin-left: 30px;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .UploadDocumentProgressCnt .UploadDocumentProgress {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: rgba(54, 121, 224, 0.1);
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .UploadDocumentProgressCnt .UploadDocumentProgress .UploadDocumentProgressIndicator {
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left center;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .UploadDocumentProgressCnt .IconUploadDone {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    color: #fff;
    padding: 4px;
    border-radius: 50%;
    background: var(--color-primary);
    margin-right: 8px;
}

.ShipmentPopup .TabDocuments .UploadedDocumentsCnt .IconUploadAction {
    color: var(--color-gray-light-minus-05);
    fill: currentColor;
    margin-left: 30px;
    cursor: pointer;
}

/* documents - audit */
.ShipmentPopup .TabDocuments .DocumentsAudit {
    margin: var(--desktop-spacing-small) 114px;
}

.ShipmentPopup .TabDocuments .DocumentLine {
    font-size: 12px;
    font-weight: 600;
}

.ShipmentPopup .TabDocuments .DocumentLine:not(:first-child) {
    margin-top: 28px;
}

.ShipmentPopup .TabDocuments .DocumentLine .DocumentType {
    width: 150px;
    color: var(--color-gray-dark);
    margin-right: 16px;
}

.ShipmentPopup .TabDocuments .DocumentLine .IconDocumentType {
    margin-right: 16px;
}

.ShipmentPopup .TabDocuments .DocumentLine .DocumentName {
    color: var(--color-gray);
}

.ShipmentPopup .TabDocuments .DocumentLine .DocumentSize {
    color: var(--color-gray);
    font-weight: 400;
    margin-right: 90px;
}

/* footer */
.ShipmentPopup .PopupFooter .FooterLeft {
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding: 0 var(--desktop-spacing-small);
    background: var(--color-gray-light-plus-01);
}

.ShipmentPopup .PopupFooter .FooterLeft .ItemCnt:not(:first-child) {
    margin-left: var(--desktop-spacing-small);
}

.ShipmentPopup .PopupFooter .FooterLeft .ItemCnt span {
    color: var(--color-gray-dark);
}

.ShipmentPopup .PopupFooter .FooterLeft .ShipmentRoute {
    color: var(--color-gray);
    margin-left: 45px;
    padding-left: 25px;
    border-left: 1px solid var(--color-gray-light-minus-05);
}

.ShipmentPopup .PopupFooter .FooterLeft .ShipmentRoute:not(:first-child) {
    margin-left: var(--desktop-spacing-small);
}

.ShipmentPopup .PopupFooter .FooterLeft .ShipmentRoute:last-child {
    color: var(--color-gray-dark);
}