.Input {
    width: 100%;
}

.Input .MuiFormControl-root {
    width: 100%;
    margin: 0 !important;
}

.Input .MuiFormControl-root label + .MuiInput-formControl {
    margin-top: 20px;
}

.Input .MuiInputBase-root {
    height: var(--default-height);
    color: var(--color-input-text);
    padding: 0 15px;
    border-radius: 5px;
    background: var(--color-input-background);
    transition: background-color var(--transition-duration);
}

.Input .MuiInputBase-root:before, .Input .MuiInputBase-root:after {
    display: none; /* hide border */
}

.Input .MuiInputBase-root input {
    height: auto;
    font-size: 12px; font-weight: 600;
    padding: 0;
}

.Input .MuiInputBase-root.Mui-disabled {
    opacity: 0.3;
    pointer-events: none;
}

/* Input background on focus */
.Input .MuiInputBase-root.Mui-focused {
    background: var(--color-input-background-focused);
}

/* Input background on error */
.Input .MuiInputBase-root.Mui-error:not(.Mui-focused) {
    background: var(--color-red-light);
}

/* label color default */
.Input .MuiFormLabel-root {
    line-height: 18px;
    font-size: 12px; font-weight: 500;
    color: var(--color-input-label);
    transform: none;
}

/* label color on focus */
.Input .MuiFormLabel-root.Mui-focused {
    color: var(--color-input-label-focused);
}

/* label color on error */
.Input .MuiFormLabel-root.Mui-error:not(.Mui-focused) {
    color: var(--color-red);
}

@-webkit-keyframes autofill {
    0%, 100% {
        color: inherit;
        background: transparent;
    }
}

.InputComponent input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-text-fill-color: var(--color-text);
}