.Select {
    width: 100%;
}

.Select .MuiFormControl-root {
    width: 100%;
    margin: 0 !important;
}

.Select .MuiInputBase-root {
    height: var(--default-height);
    color: var(--color-input-text);
    padding: 0 0 0 15px;
    border-radius: 5px;
    background: var(--color-input-background);
    transition: background-color var(--transition-duration);
}

.Select .MuiInputBase-root:before, .Select .MuiInputBase-root:after {
    display: none; /* hide border */
}

.Select .MuiInputBase-root .MuiSelect-root {
    font-size: 12px; font-weight: 600;
    padding: 0;
    background: none;
}

.Select .MuiInputBase-root.Mui-disabled {
    opacity: 0.3;
    pointer-events: none;
}

/* Input background on focus */
.Select .MuiInputBase-root.Mui-focused {
    background: var(--color-input-background-focused);
}

/* Input background on error */
.Select .MuiInputBase-root.Mui-error:not(.Mui-focused) {
    background: var(--color-red-light);
}

/* label color default */
.Select .MuiFormLabel-root {
    line-height: 18px;
    font-size: 12px; font-weight: 500;
    color: var(--color-input-label);
    transform: none;
}

/* label color on focus */
.Select .MuiFormLabel-root.Mui-focused {
    color: var(--color-input-label-focused);
}

/* label color on error */
.Select .MuiFormLabel-root.Mui-error:not(.Mui-focused) {
    color: var(--color-red);
}

/* Icon color on error */
.Select .MuiInputBase-root .MuiSelect-icon {
    color: var(--color-select-icon);
    margin: 0 10px;
}

.Select .MuiInputBase-root.Mui-error:not(.Mui-focused) .MuiSelect-icon {
    color: var(--color-red);
    margin: 0 10px;
}

/* MuiSelect */
body > *[id^=menu] {
    z-index: 4096 !important;
}

body > *[id^=menu] .MuiPaper-root {
    color: var(--color-input-text) !important;
    border: 1px solid var(--color-popover-border);
    background: var(--color-popover-background) !important;
}

body > *[id^=menu] .MuiPaper-root .MuiListItem-button.Mui-selected {
    background: var(--color-select-highlight);
}