NODE_ENV=production|dev
BACKEND_PORT= (port on which server will be accessed from browser)
FRONTEND_PORT= (same as backend if not on docker)
URL=http://ip/localhost/domain
SESSION_UNIQUE_KEY=secret

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=
DATABASE_CONNECTION_LIMIT=10

TRANSACTION_VIEW_URL=https://testnet.dragonglass.me/hedera/transactions/%s
COUNTRY_ID=1 //1 for Germany, 2 for Netherlands, 3 for Poland
HEDERA_INTEGRATION_NODE_URL= 
HEDERA_INTEGRATION_NODE_CREDIT_SHIPMENT_SUFFIX=
HEDERA_INTERGRATION_NODE_CREDIT_PRODUCT_SUFFIX=
