.PageLogin {
    background: var(--color-primary);
}

.PageLogin .LoginBox {
    align-items: center;
    padding: 60px 94px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 6px 50px 20px rgba(11, 68, 156, 0.3);
}

.PageLogin .Title {
    font-size: 30px; font-weight: 700;
    margin-bottom: 14px;
}

.PageLogin .Subtitle {
    color: #BFC3CA;
    font-size: 14px; font-weight: 500;
    margin-bottom: 32px;
}

.PageLogin .LoginForm {
    width: 262px;
}