.PageDrafts .IconDelete {
    fill: var(--color-gray-light-minus-05);
}

/* .PageDrafts .ShipmentsTable .ShipmentOriginCell {
    justify-content: space-between;
    flex-grow: 1;
}

.PageDrafts .ShipmentsTable .ShipmentOriginCell .SVG {
    margin-right: 35px;
} */