.PageDashboard .Stats {
    display: flex;
    gap: var(--desktop-spacing);
}

.PageDashboard .Stats > * {
    width: 0;
    flex: 1 1 auto;
}

.PageDashboard .Tables {
    display: flex;
    gap: var(--desktop-spacing);
    flex: 1 1 auto;
}

.PageDashboard .Tables > * {
    display: flex;
    width: 0;
    flex: 1 1 auto;
}