.PageDashboard {
    font-family: Poppins;
    font-style: normal;
    color: var(--color-gray-dark);
}

.PageDashboard .Stats {
    display: flex;
    gap: var(--desktop-spacing);
}

.PageDashboard .Stats > .WhiteBox {
    width: 0;
    flex: 1 1 auto;
}

.PageDashboard .Stats > .WhiteBox > * {
    flex: 0 0 auto;
}

.PageDashboard .Stats > .WhiteBox > .FlexibleWidth {
    width: 0;
    flex: 1 1 auto;
}

.PageDashboard .Tables {
    display: flex;
    gap: var(--desktop-spacing);
}

.PageDashboard .Tables > * {
    display: flex;
    width: 0;
    flex: 1 1 auto;
}

.PageDashboard .Icon {
    height: 46px;
    width: 46px;
    background: rgba(54, 121, 224, 0.1);
    border-radius: 5px;
    fill: var(--color-primary);
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 15px;
}

.PageDashboard .Stats .StatData {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
}

.PageDashboard .Stats .StatInfo {
    font-size: 10px;
    line-height: 15px;

    color: #BFC3CA;
}

.PageDashboard .Stats .StatMoreInfo {
    align-self: flex-start;
}

.Tooltip {
    padding: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-gray);
}

.PageDashboard .Stats .SeeAll {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    text-align: right;

    color: #3679E0;
}


.PageDashboard .Tables .TableSection {
    padding-right: 7px;
}

.PageDashboard .Tables .TableSection .TableHeader {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 21px;
}

.PageDashboard .Tables .TableSection .TableContainer .ShipmentLine {
    margin-bottom: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.PageDashboard .Tables .TableSection .TableContainer .ShipmentLine .ShipmentLineInfo .ConsignmentNumber {
    margin-left: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.PageDashboard .Tables .TableSection .TableContainer .ShipmentLine .ShipmentLineInfo .TimeStamp {
    font-size: 10px;
    line-height: 15px;
    color: #BFC3CA;
    margin-top: 7px;
}