.PageOutgoing {}

.PageOutgoing .ShipmentsTable .ShipmentOriginCell {
    justify-content: space-between;
    flex-grow: 1;
}

.PageOutgoing .ShipmentsTable .ShipmentOriginCell .SVG {
    margin-right: 35px;
}

.PageOutgoing .ShipmentsTable .ShipmentStatusCell {
    background: rgba(125, 66, 184, 0.2);
    color: var(--color-primary);
    width: 110px;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.PageOutgoing .ShipmentsTable .ShipmentDateCell {
    color: var(--color-gray);
}