.Expandable.MuiAccordion-root {
    box-shadow: none;
}

.Expandable.Mui-expanded, .Expandable .Mui-expanded {
    margin: 0 !important;
}

.Expandable .MuiAccordionSummary-root {
    padding: 0;
}

.Expandable .MuiAccordionDetails-root {
    padding: 0;
}

.Expandable .MuiAccordionSummary-content {
    margin: 0;
}

.Expandable .MuiAccordionSummary-content.Mui-expanded {
    margin: 0;
}

.Expandable .MuiAccordionSummary-root.Mui-expanded {
    min-height: auto;
}

.Expandable .MuiIconButton-edgeEnd {
    position: relative;
    left: 12px;
    margin: 0;
}