.Notifications {
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: #fff;
    margin: 0 auto;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}

.NotificationsPopover .NotificationBox {
    border-radius: 5px;
}

.Notifications .NotificationsIcon {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.Notifications .NotificationsIcon .Icon {
    margin: 0 auto;
}

.Notifications .SVG.Dot {
    position: absolute;
    right: -1px;
    top: 12px;
}

.NotificationsPopover .NotificationBox .NotificationMessageBox {
    max-height: 259px;
    overflow: auto;
    color: var(--color-gray);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.NotificationsPopover .NotificationBox .NotificationMessageBox .Icon {
    margin-right: 9px;
}

.NotificationsPopover .NotificationBox .NotificationMessageBox .LoadingIndicator {
    flex: 0 0 auto;
}

.NotificationsPopover .NotificationBox .NotificationsHeader {
    padding: 15px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    justify-content: space-between;
}

.NotificationsPopover .NotificationBox .NotificationsHeader .ReadAllButton {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: var(--color-primary);
}

.NotificationsPopover .NotificationBox .NotificationsHeaderMenu {
    float: right;
}

.NotificationsPopover .NotificationBox .NotificationMessage.Unread {
    background: rgba(54, 121, 224, 0.05);
}

.NotificationsPopover .NotificationBox .NotificationMessage {
    box-sizing: border-box;
    justify-content: space-between;
    fill: var(--color-primary);
    height: 65px;
    border-top: 1px solid rgba(54, 121, 224, 0.1);
    box-sizing: border-box;
    margin: 0 10px;
    padding: 18px;
    border-radius: 3px;
    font-size: 12px;
}

.NotificationsPopover .NotificationBox .NotificationMessage.NoNotificationMessage {
    width: 324px;
    color: var(--color-gray);
    justify-content: center;
}

.NotificationsPopover .NotificationBox .NotificationMessage p {
    display: inline;
    color: #07172F;
}


.NotificationsPopover .NotificationMessage .NotificationMessageInfo .NotificationMessageText {
    margin-top: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #A0A4B3;
    box-sizing: border-box;
}

.NotificationsPopover .NotificationMessage .NotificationMessageTime {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #959AA1;
    margin-left: auto;
    flex: 0 0 auto;
}