.PageTableFooter {
    justify-content: center;
    margin-top: 20px;
}

.PageTableFooter .ItemsCnt {
    height: var(--default-height);
    color: var(--color-gray);
    font-size: 12px;
    padding: 0 var(--desktop-spacing-small);
    border-radius: 5px;
    background: var(--color-gray-light-plus-01);
}

.PageTableFooter .ItemsCnt .Item:not(:first-child) {
    margin-left: 24px;
}

.PageTableFooter .ItemsCnt .Item span {
    color: var(--color-gray-dark);
    margin-left: 6px;
}